

body {
  background-color: #080505;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 800px;
  height: 900px;
}


.container img {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #f3f3f3;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.img1 { top: 0; left: 75; }
.img2 { top: 150px; left: 150px; }
.img3 { top: 300px; left: 300px; }
.img4 { top: 450px; left: 450px; }
.img5 { top: 600px; left: 600px; }
.img6 { top: 750px; left: 750px; }


.container img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(146, 139, 139, 0.7);
  z-index: 10;
}